<% content_for :header do %>
  <%= stylesheet_link_tag 'registrations', media: 'all' %>
<% end %>

<div class="d-flex mt-5 justify-content-center align-items-start min-vh-100">
  <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { multipart: true, method: :patch, data: { controller: "image-preview" } }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <!-- Contêiner para os Cards -->
    <div class="d-flex">
      <!-- Primeiro Card -->
      <div class="card shadow-sm border-0" style="width: 100%; max-width: 900px; margin-right: 20px;">
        <div class="card-header">
          <h4 class="text-center mb-2">Editar Perfil do Vendedor</h4>
        </div>
        <div class="card-body">
          <!-- Nome e Telefone -->
          <div class="row">
            <div class="col-md-6 mb-2">
              <%= f.label :name, "Nome", class: "form-label fw-bold" %>
              <%= f.text_field :name, value: resource.name, autofocus: true, class: "form-control" %>
            </div>
            <div class="col-md-6 mb-2">
              <%= f.label :phone, "Telefone", class: "form-label fw-bold" %>
              <%= f.telephone_field :phone, value: resource.phone, class: "form-control" %>
            </div>
          </div>

          <!-- E-mail -->
          <div class="mb-2">
            <%= f.label :email, "E-mail", class: "form-label fw-bold" %>
            <%= f.email_field :email, value: resource.email, autocomplete: "email", class: "form-control" %>
          </div>

          <!-- Senha -->
          <div class="mb-2">
            <%= f.label :password, "Senha", class: "form-label fw-bold" %>
            <% if @minimum_password_length %>
              <small class="text-muted">(<%= @minimum_password_length %> caracteres mínimo)</small>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <!-- Confirmação de Senha -->
          <div>
            <%= f.label :password_confirmation, "Confirme a Senha", class: "form-label fw-bold" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>

        <div class="card-footer mb-2">
          <!-- Links e Botão Salvar -->
          <div class="d-flex justify-content-between align-items-center mt-2">
            <div>
              <%= link_to "Cancelar", edit_user_registration_path, class: "btn btn-link" %>
            </div>
            <%= f.submit "Salvar Alterações", class: "btn btn-primary" %>
          </div>
        </div>
      </div>

      <!-- Segundo Card -->
      <div class="card shadow-sm border-0" style="width: 100%; max-width: 600px;">
        <div class="card-body">
          <!-- Contêiner de Pré-visualização das Imagens -->
          <div class="preview-container mt-4" data-image-preview-target="previewContainer">
            <!-- Verifica se o usuário possui uma imagem de perfil salva e exibe-a -->
            <% if resource.profile_image.present? %>
              <%= image_tag resource.profile_image, alt: 'Imagem do Perfil', class: 'default-image', style: 'width: 100%; height: 100%; object-fit: cover; border-radius: 50%;' %>
            <% else %>
              <%= image_tag 'default_profile_image.png', alt: 'Imagem Padrão', class: 'default-image', style: 'width: 100%; height: 100%; object-fit: cover; border-radius: 50%;' %>
            <% end %>
          </div>
        </div>
        <div class="card-footer mb-2">
          <!-- Upload de Imagens -->
          <div>
            <%= f.label :profile_image, "Imagem do Perfil", class: "form-label fw-bold" %>
            <%= f.file_field :profile_image, multiple: false, class: "form-control", data: { action: "change->image-preview#preview" } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
