<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Editar <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }, data: { controller: "image-preview" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <!-- Upload de Imagem de Perfil -->
        <div class="mb-3">
          <%= f.label :profile_image, "Imagem de Perfil", class: "form-label" %>
          <%= f.file_field :profile_image, class: "form-control", data: { action: "change->image-preview#preview" } %>
        </div>

        <!-- Contêiner de Pré-visualização da Imagem -->
        <div class="mb-3" data-image-preview-target="previewContainer">
          <img id="profile_image_preview" src="<%= resource.profile_image.attached? ? url_for(resource.profile_image.variant(resize_to_limit: [150, 150])) : '' %>" class="img-thumbnail" style="display: <%= resource.profile_image.attached? ? 'block' : 'none' %>;" width="150" height="150">
        </div>

        <!-- Campo de E-mail -->
        <div class="mb-2">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
        </div>

        <!-- Validação de Confirmação de E-mail -->
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="alert alert-info">Aguardando confirmação para: <%= resource.unconfirmed_email %></div>
        <% end %>

        <!-- Campo de Senha -->
        <div class="mb-2">
          <%= f.label :password, class: "form-label" %> <i>(Deixe em branco se você não quiser mudá-la)</i><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"><em><%= @minimum_password_length %> caracteres no mínimo</em></small>
          <% end %>
        </div>

        <!-- Campo de Confirmação de Senha -->
        <div class="mb-2">
          <%= f.label :password_confirmation, class: "form-label" %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <!-- Campo de Senha Atual para Confirmar Mudanças -->
        <div class="mb-4">
          <%= f.label :current_password, class: "form-label" %> <i>(Precisamos da sua senha atual para confirmar as alterações)</i><br />
          <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
        </div>

        <!-- Botão de Atualizar -->
        <div class="text-center mb-3">
          <%= f.submit "Atualizar", class: "btn btn-primary" %>
        </div>
      <% end %>

      <!-- Link para Cancelar Conta -->
      <h3>Cancelar minha conta</h3>
      <div>Descontente? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?", turbo_confirm: "Você tem certeza?" }, method: :delete, class: "btn btn-danger" %></div>

      <!-- Link para Voltar -->
      <div class="mt-3">
        <%= link_to "Voltar", :back, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
