<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Cadastrar</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }, data: { controller: "image-preview" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <!-- Foto de Perfil -->

        <!-- Upload de Imagens -->
        <div class="mb-3">
          <%= f.label :profile_image, "Imagens do vendedor", class: "form-label" %>
          <%= f.file_field :profile_image, multiple: false, class: "form-control", data: { action: "change->image-preview#preview" } %>
        </div>

        <!-- Contêiner de Pré-visualização das Imagens -->
        <div class="mb-3" data-image-preview-target="previewContainer">
          <!-- As miniaturas das imagens aparecerão aqui -->
        </div>
 
        <div class="row">
          <div class="col-lg-6">
            <!-- Nome -->
            <%= f.label :name, "Nome", class: "form-label" %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
          <div class="col-lg-6">
            <!-- Telefone -->
            <%= f.label :phone, "Telefone", class: "form-label" %>
            <%= f.telephone_field :phone, class: "form-control" %>
          </div>
        </div>
        <!-- E-mail -->
        <div class="mb-2">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <!-- Senha -->
        <div class="mb-2">
          <%= f.label :password, class: "form-label" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <!-- Confirmação de Senha -->
        <div class="mb-4">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <!-- Botão de Envio -->
        <div class="text-center mb-3">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>