<%= form_with(model: attribute, 
              url: attribute.persisted? ? attribute_path(attribute, locale: I18n.locale) : 
              attributes_path(locale: I18n.locale), local: true) do |form| %>
  <% if attribute.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attribute.errors.count, "error") %> prohibited this attribute from being saved:</h2>

      <ul>
        <% attribute.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div class="mb-3">
    <%= form.label :domain, "Tipo" %>
    <%= form.select :domain, [['Moeda', 'N'], ['Número', 'I'], ['Texto', 'V']], {}, class: "form-select" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
