<h1>Lista de usuários</h1>
<div id="users" class="users-table">
    <table class="table">
    <thead>
        <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Tipo usuário</th>
        <th>Categorias</th>
        <th>Status</th>
        <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.phone %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>

            <td>
                <% user.categories.each do |category| %>
                    <span class="badge bg-primary"><%= category.description %></span>
                <% end %>
            </td>
            
            <td>
            <%= user.active? ? 'Ativo' : 'Inativo' %>
            </td>
            <td>
                <%= form_with url: toggle_active_user_path(user.id, locale: I18n.locale), method: :patch, class: 'd-inline' do %>
                    <%= submit_tag 'Alterar status vendedor', class: 'btn btn-sm btn-primary', data: { confirm: 'Tem certeza que deseja alterar o status?' } %>
                <% end %>
                <%= link_to 'Gerenciar categorias', manage_categories_user_path(user, locale: I18n.locale), class: "btn btn-warning" %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>