<!-- app/views/users/show.html.erb -->
<div class="container mt-4"> 
  <div class="card shadow-lg"> 
    <!-- Cabeçalho com o Nome do Usuário -->
    <div class="card-header bg-primary text-white text-center"> 
      <h3 class="mb-0"><%= @user.name %></h3> 
    </div>

    <!-- Corpo com a Imagem e Informação do Usuário -->
    <div class="card-body text-center"> 
      <% if @user.profile_image.attached? %>
        <!-- Exibe a Imagem de Perfil com redimensionamento -->
        <%= image_tag @user.profile_image.variant(resize_to_limit: [150, 150]), class: "img-thumbnail" %>
      <% else %>
        <p>Sem imagem de perfil</p>
      <% end %>
    </div>

    <!-- Exibição do Email -->
    <div class="card-header bg-primary text-white text-center"> 
      <h3 class="mb-0"><%= @user.email %></h3> 
    </div>

    <!-- Exibição do Telefone -->
    <div class="card-header bg-primary text-white text-center"> 
      <h3 class="mb-0"><%= @user.phone %></h3> 
    </div>

    <!-- Rodapé com os Botões -->
    <div class="card-footer d-flex justify-content-between">
      <%= link_to 'Voltar', users_path(locale: I18n.locale), class: "btn btn-secondary" %>
    </div>
  </div>
</div>