<% content_for :header do %>
  <%= stylesheet_link_tag 'store', media: 'all' %>
<% end %>

<div class="row">
  <div class="col-md-2 custom-margin-top"> <!-- Margem superior personalizada -->
    <div class="card mb-4">
      <div class="card-body">
        <%= form_with url: store_path, method: :get, local: true do %>
          <%= hidden_field_tag 'category_ids[]', nil %>
          <%= render_categories(@categories_filter, 0, [], nil, @product_counts) %> <!-- Passa as contagens para o helper -->
          <div class="text-end mt-3">
            <%= submit_tag 'Filtrar', class: 'btn btn-sm btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Container principal para filtros adicionais e exibição dos produtos -->
  <div class="col-md-10 mt-5">
    <div class="container">

      <%= form_with url: store_path, method: :get, local: true do %>
        <div class="mb-1 row">
          <div class="col-md-6">
            <%= text_field_tag :name, params[:name], class: 'form-control form-control-underline', placeholder: 'Filtrar por Nome' %>
          </div>
          <div class="col-md-3">
            <%= number_field_tag :min_price, params[:min_price], class: 'form-control form-control-underline', placeholder: 'Preço Mínimo' %>
          </div>
          <div class="col-md-3">
            <%= number_field_tag :max_price, params[:max_price], class: 'form-control form-control-underline', placeholder: 'Preço Máximo' %>
          </div>
        </div>
        <div class="text-end">
          <%= submit_tag 'Filtrar', class: 'btn btn-sm btn-primary mb-2' %>
        </div>
      <% end %>


      <!-- Exibição dos produtos -->
      <div class="card">
        <div class="card-body">
          <div class="row">
            <% @products.in_groups_of(4, false).each do |product_group| %>
              <div class="row mb-4">
                <% product_group.each do |product| %>
                  <div class="col-md-3">
                    <%= link_to product_path(product, locale: I18n.locale), class: 'text-decoration-none' do %>
                      <div class="card h-100">
                        <% if product.images.any? %>
                          <div id="carousel-<%= product.id %>" class="carousel slide" data-bs-interval="false"> <!-- Desativar autoplay -->
                            <div class="carousel-inner">
                              <% product.images.each_with_index do |image, index| %>
                                <div class="carousel-item <%= 'active' if index.zero? %>">
                                  <%= image_tag image, class: "d-block w-100 img-fluid", style: "object-fit: cover; height: 200px;", alt: product.name %> <!-- Ajustar a imagem -->
                                </div>
                              <% end %>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= product.id %>" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= product.id %>" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        <% else %>
                          <%= image_tag 'default_image.png', class: "card-img-top", style: "object-fit: cover; height: 200px;", alt: 'Imagem padrão' %> <!-- Ajustar a imagem padrão -->
                        <% end %>

                        <div class="card-body">
                          <div class="d-flex flex-wrap mb-3">
                            <%= render_category_badges(product.category) %>
                          </div>

                          <h5 class="card-title font-weight-bold text-primary"><%= product.name %></h5>
                          <h6 class="card-subtitle text-muted mb-3">R$ <%= number_to_currency(product.price, unit: '', separator: ',', delimiter: '.') %></h6>
                        </div>

                        <div class="card-footer bg-light border-top">
                          <p class="mb-2"><strong>Vendedor:</strong> <%= product.user.name %></p>
                          <p class="mb-2">
                            <strong>Telefone:</strong> 
                            <%= product.user.phone %>
                            <%= link_to '<i class="bi bi-whatsapp text-success" style="font-size: 1.2rem;"></i>'.html_safe,
                                        "https://wa.me/#{product.user.phone}?text=Olá%20#{ERB::Util.url_encode(product.user.name)},%20tenho%20interesse%20no%20produto%20#{ERB::Util.url_encode(product.name)}.",
                                        target: "_blank", 
                                        rel: "noopener", 
                                        class: "ms-2 text-decoration-none" %>
                          </p>
                          <p class="mb-2"><strong>Email:</strong> <%= mail_to product.user.email, nil, class: "text-decoration-none" %></p>
                        </div>
                        
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Script para seleção de categorias pai/filha -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.parent-category').forEach(function(parentCheckbox) {
      parentCheckbox.addEventListener('change', function() {
        const categoryId = this.dataset.categoryId;
        const isChecked = this.checked;

        // Função para selecionar ou desmarcar as subcategorias recursivamente
        function toggleSubcategories(parentId, checked) {
          document.querySelectorAll(`.form-check-input[data-parent-id='${parentId}']`).forEach(function(subCheckbox) {
            subCheckbox.checked = checked;
            toggleSubcategories(subCheckbox.dataset.categoryId, checked); // Chamada recursiva para subcategorias aninhadas
          });
        }

        // Inicializa a função com a categoria pai atual
        toggleSubcategories(categoryId, isChecked);
      });
    });
  });
</script>
