<% content_for :header do %>
  <%= stylesheet_link_tag 'store', media: 'all' %>
<% end %>

<%= render 'shared/accordion' %>
<div class="row">
  <!-- Filtro de categorias à esquerda -->
  <div class="col-md-2">
    <%= turbo_frame_tag 'filters' do %>
      <%= form_with(url: store_path, method: :get, data: { turbo_frame: 'products' }, id: 'filter-form') do %>
        <div class="card p-3 mb-4 category-filters-card">
          <div class="categories-checkboxes">
            <%= render_categories(@categories_filter, 0, [], nil, @product_counts) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Filtros de Nome e Preço e Lista de Produtos -->
  <div class="col-md-10">
    <!-- Filtros por Nome e Preço -->
    <div class="card p-3 mt-5 name-price-filters-card">
      <%= form_with(url: store_path, method: :get, data: { turbo_frame: 'products' }, id: 'filter-form') do %>
        <h5 class="card-title">Filtros por Nome e Preço</h5>
        <div class="row mb-1">
          <div class="col-md-6 mb-2">
            <%= text_field_tag :name, params[:name], class: 'form-control form-control-underline', placeholder: 'Filtrar por Nome' %>
          </div>
          <div class="col-md-3 mb-2">
            <%= number_field_tag :min_price, params[:min_price], class: 'form-control form-control-underline', placeholder: 'Preço Mínimo' %>
          </div>
          <div class="col-md-3 mb-2">
            <%= number_field_tag :max_price, params[:max_price], class: 'form-control form-control-underline', placeholder: 'Preço Máximo' %>
          </div>
        </div>
        <div class="text-end">
          <%= submit_tag 'Filtrar', class: 'btn btn-sm btn-primary mb-2' %>
        </div>
      <% end %>
    </div>

    <!-- Área de exibição dos produtos -->
    <div class="card p-3">
      <turbo-frame id="products">
        <%= render partial: 'products_list', locals: { products: @products } %>
      </turbo-frame>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.form-check-input').forEach((checkbox) => {
    checkbox.addEventListener('change', () => {
      document.getElementById('filter-form').requestSubmit();
    });
  });
</script>
