<div id="categories" class="categories-table">
  <h1><%= t('lists.list_of_categories') %></h1>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Categoria Pai</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.description %></td>
          <td><%= category.parent.present? ? category.parent.description : "Nenhuma" %></td>
          <td>
            <%= link_to 'Gerenciar campos', manage_attributes_category_path(category, locale: I18n.locale), class: "btn btn-warning" %>   
            <%= link_to "Editar", edit_category_path(category, locale: I18n.locale), class: "btn btn-info" %>
            <%= link_to "Excluir", category_path(category, locale: I18n.locale), 
                method: :delete, 
                data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir esta categoria?" }, 
                class: "btn btn-danger" %>    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="actions">
    <%= link_to "Nova Categoria", new_category_path(locale: I18n.locale), class: "btn btn-success" %>
  </div>
</div>
