<div class="container container-manager-attributes my-5">
  <div class="card manager-card">
    <div class="card-header">
      <h5>Vinculo entre categoria e seus atributos</h5>
    </div>
    <div class="card-body">
      <%= form_with model: @category, url: update_attributes_category_path(@category, locale: I18n.locale), method: :patch, local: true, data: { controller: "attribute", action: "submit->attribute#beforeSubmit" } do |form| %>  
        <div class="row">
          <div class="col-md-5">
            <h3>Atributos disponiveis</h3>
            <select id="available_attributes" data-attribute-target="availableAttributes" name="category[attribute_ids][]" multiple size="10" class="form-control">
              <% @available_attributes.each do |attribute| %>
                <option value="<%= attribute.id %>"><%= attribute.description %></option>
              <% end %>
            </select>
          </div>

          <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
            <%= button_tag type: 'button', data: { action: "click->attribute#addAttribute" }, class: "btn btn-primary mb-2" do %>
              Adicionar
            <% end %>

            <%= button_tag type: 'button', data: { action: "click->attribute#removeAttribute" }, class: "btn btn-danger" do %>
              Remover
            <% end %>
          </div>

          <div class="col-md-5">
            <h3>Vinculados ao salvar</h3>
            <select id="category_attributes" data-attribute-target="categoryAttributes" name="category[attribute_ids][]" multiple size="10" class="form-control">
              <% @category.custom_attributes.each do |attribute| %>
                <option value="<%= attribute.id %>" selected><%= attribute.description %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="card-footer d-flex justify-content-between">
          <%= form.submit 'Salvar vinculos', class: "btn btn-success" %>
          <%= link_to "Voltar", categories_path, class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>