<div id="products" class="products-table">
  <h2>Lista de Produtos</h2>

<div class="filters mb-3">
  <%= form_with(url: products_path, method: :get, local: true, class: 'd-flex justify-content-between') do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= form.label :name, 'Nome do Produto' %>
        <%= form.text_field :name, class: 'form-control form-control-sm', placeholder: 'Buscar pelo nome' %>
      </div>
      <div class="col-md-2">
        <%= form.label :active, "Status", class: "form-label" %>
        <%= form.select :active, [["Ativo", true], ["Inativo", false]], { include_blank: "Selecione um status" }, class: "form-select" %>
      </div>
      <div class="col-md-3">
        <%= form.label :user_id, "Usuário", class: "form-label" %>
        <%= form.select :user_id, options_from_collection_for_select(@users, :id, :name, params[:user_id]), 
                    { include_blank: "Selecione um usuário" }, class: "form-select" %>
      </div>
      <div class="form-group col-md-3 align-self-end">
        <%= form.submit "Buscar", class: "btn btn-sm btn-primary" %>
        <%= link_to "Limpar", products_path, class: "btn btn-sm btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Código do Produto</th>
        <th>Nome do Produto</th>
        <th>Vendedor</th>
        <th>Prioridade</th>
        <th>Ativo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= product.user.name %></td> 
          <td><%= product.priority %></td> 
          <td><%= product.active ? 'Sim' : 'Não' %></td> 
          <td>
            <% if product.id.present? %>
              <%= form_with url: toggle_active_product_path(product.id, locale: I18n.locale), method: :patch, class: 'd-inline' do %>
                <%= button_tag type: 'submit', class: 'btn btn-sm', title: product.active? ? 'Desativar produto' : 'Ativar produto', data: { bs_toggle: 'tooltip' }, 
                    style: "color: white; background-color: #{product.active? ? '#28a745' : '#dc3545'}; border-color: #{product.active? ? '#dc3545' : '#28a745'};" do %>
                <i class="bi <%= product.active? ? 'bi-toggle-on' : 'bi-toggle-off' %>"></i>
                <% end %>
              <% end %>

              <%= link_to product_path(product, locale: I18n.locale), class: 'btn btn-secondary btn-sm' do %>
                <i class="bi bi-eye" title="Ver produto"></i>
              <% end %>

              <%= link_to edit_product_path(product, locale: I18n.locale), class: 'btn btn-warning btn-sm' do %>
                <i class="bi bi-pencil" title="Editar produto"></i>
              <% end %>

              <%= link_to product_path(product, locale: I18n.locale), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este produto?" }, class: 'btn btn-danger btn-sm' do %>
                <i class="bi bi-trash" title="Excluir produto"></i>
              <% end %>

            <% else %>
              <span>Produto inválido</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <!-- Paginação -->
  <div class="pagination">
    <ul class="pagination justify-content-center">
      <% if @page > 1 %>
        <li class="page-item">
          <%= link_to '«', products_path(page: @page - 1, locale: I18n.locale), class: 'page-link' %>
        </li>
      <% end %>

      <% (1..@total_pages).each do |p| %>
        <li class="page-item <%= 'active' if p == @page %>">
          <%= link_to p, products_path(page: p, locale: I18n.locale), class: 'page-link' %>
        </li>
      <% end %>

      <% if @page < @total_pages %>
        <li class="page-item">
          <%= link_to '»', products_path(page: @page + 1, locale: I18n.locale), class: 'page-link' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= link_to 'Cadastrar Novo Produto', new_product_path, class: 'btn btn-success mb-3' %> 
  </div>
</div>
